/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

/* global styles */
html{
    background-color: #ccc;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-width: 960px;
    width: 90%;
    margin: auto;
    padding: 1%;
}

/* footer */
footer{
    clear:both;
    text-align: center;
}

/* navigation */
nav{
    text-align: center;
}

nav a{
    color: #000;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 2%;
}

nav a:hover{
    text-decoration: none;
}

/* page header */
h1.page-header{
    font-family: 'Inknut Antiqua', serif;
    width: 80%;
    margin: auto;
    text-align: center; 
    text-shadow: 4px 4px 4px #aaa;
}

/* story block */
.story-block{
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

.story-pic {
    float: right;
    max-width: 250px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 15px;
    border: 1 solid #ccc;
    box-shadow: 3px 3px 8px rbga(0,0,0,0.1);
}

.story-block p {
    margin-bottom: 15px;
    text-align: justify;
}